<div class="card mt-4">
<%= image_tag @ad.picture.url(:large), class:"card-img-top img-fluid" %>
<div class="card-body">
    <h3> <%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <p class="card-text"><%= @ad.description.html_safe %></p>
    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
    4.0 stars
</div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
<div class="card-header">
    Product Reviews
</div>
<div class="well">
    <% if member_signed_in? %>
      <div class="text-right">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
              Deixe um comentário
          </button>
      </div>
      <% else %>
      <div class="text-right">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#commentModal">
              Efetue login para comentar
          </button>
      </div>
    <% end %>
    <hr>
    <%= render partial: 'site/ad_detail/comments' %>
</div>
</div>
<!-- /.card -->

<%= render partial: 'site/ad_detail/comment_modal' %>